
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage{
  display: flex;
}

body{

  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(87, 2, 115, 1) 40%, rgba(236, 231, 255, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(87, 2, 115, 1) 40%, rgba(236, 231, 255, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(87, 2, 115, 1) 40%, rgba(236, 231, 255, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ECE7FF', endColorstr='#EE82EE', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(87, 2, 115, 1) 40%, rgba(236, 231, 255, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(87, 2, 115, 1) 40%, rgba(236, 231, 255, 1) 100%);

}

